#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* App.css */
.job-card-container {
  display: flex; /* Enables flexbox */
  overflow-x: auto; /* Enables horizontal scrolling */
  white-space: nowrap; /* Prevents wrapping to the next line */
  padding: 10px;
  scroll-behavior: smooth; /* Optional: Smooth scrolling behavior */
}

.job-card {
  flex: 0 0 auto; /* Prevents the card from shrinking or growing */
  width: 300px; /* Fixed width for each card */
  margin: 0 10px; /* Space between cards */
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* Track Styles */
.track-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.track-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 6px 6px 0px 0px #282826;
  border: 2px solid #282826;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  width: 250px;
  height: 300px;
}
.track-card img {
  width: 100px;
  height: 100px;
  max-width: 200px;
  margin-bottom: 8px;
  margin-top: 30%;
}
.track-card:hover {
  transform: translateY(-5px);
}

.track-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.track-card h3 {
  padding: 16px;
  margin-top:40px;
  font-size: 22px;
  color: #333;
  text-align: center;
}
.communities {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto new lines if necessary */
  gap: 20px; /* Adds space between the boxes */
  justify-content: center; /* Centers the boxes horizontally */
}

.reddit {
  box-shadow: 6px 6px 0px 0px #282826;
  border: 2px solid #282826;
  border-radius: 1rem;
  width: 290px; /* Set a fixed width for each box */
  height:150px;
  text-align: center; /* Centers the image inside the box */
  margin: 3px; /* Ensure space around each box */
}

.reddit img {
  width: 90%; /* Makes the image fill the width of the box */
  height: 100%;
}
.community{
  font-size: 3rem;
  font-weight: bold;
  padding-left: 2%;
  text-align: left;
}